.content {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.newPassword {
    img {
        padding: 50px;
    }

    .content {
        p {
            text-align: center;
        }

        button {
            margin-top: 15px;
            width: 100%;
        }

        input {
            text-align: left;
        }

        .oxfordText {
            margin-bottom: 10px;
        }
    }
}