.authenticated {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.authenticated .leftSection {
  width: 250px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  box-shadow: 1px 0px 5px 0px rgba(158, 158, 158, 0.14);
  -webkit-box-shadow: 1px 0px 5px 0px rgba(158, 158, 158, 0.14);
  -moz-box-shadow: 1px 0px 5px 0px rgba(158, 158, 158, 0.14);
  margin-right: 50px;
}

.authenticated .leftSection hr {
  border-style: none;
  border-top-style: solid;
  border-top-width: 2px;
  height: 2px;
  border-top-color: rgba(59, 70, 100, 0.2);
}

.authenticated .leftSection .menuItem {
  cursor: pointer;
}

.authenticated .leftSection .menuItem:hover {
  color: #8fd5bd;
}

.authenticated .leftSection .logo {
  width: 37.47px;
  height: 31.2px;
  margin-left: 41.27px;
  margin-top: 24.77px;
}

.authenticated .leftSection nav {
  padding: 20px;
}

.authenticated .leftSection nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.authenticated .leftSection nav div img {
  margin-right: 10px;
}

.authenticated .leftSection .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.authenticated .leftSection .user .left {
  padding: 0px;
}

.authenticated .leftSection .user .left div {
  background-color: #9b51e0;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.authenticated .leftSection .user .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10px;
}

.authenticated .leftSection .user .right .nameAndRole {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
}

.authenticated .leftSection .user .right .nameAndRole p {
  margin-right: 5px;
}

.authenticated .leftSection .user .right .nameAndRole .role {
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  white-space: nowrap;
}

.authenticated .leftSection .user .right .company {
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.authenticated .leftSection .user .right .company .menu {
  position: absolute;
  bottom: 23px;
  background-color: white;
  z-index: 200;
  width: 200px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.46);
  border-style: none;
  border-radius: 10px;
  height: 158px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.authenticated .leftSection .user .right .company .menu div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 20px;
}

.authenticated .leftSection .user .right .company .menu div a {
  text-decoration: none;
}

.authenticated .leftSection .user .right .company .menu .menuTop .companyName {
  margin-top: 3px;
}

.authenticated .leftSection .user .right .company .menu .menuBottom .help {
  margin-top: 16px;
}

.authenticated .leftSection .user .right .company img {
  width: 10px;
  height: 10px;
  margin-left: 10px;
}

.authenticated .rightSection {
  overflow: scroll;
  width: 1116px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.authenticated .rightSection nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.authenticated .rightSection nav .navLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.authenticated .rightSection nav .navLeft img {
  margin-right: 15px;
}

.authenticated .rightSection nav .navLeft input {
  border-style: none;
  width: 40vw;
}

.authenticated .rightSection nav .navRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .homeContent .homeContentTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .homeContent .homeContentTop div:nth-child(1) {
  width: 350px;
}

.home .homeContent .homeContentTop div:nth-child(2) {
  width: 26%;
}

.home .homeContent .homeContentTop div:nth-child(3) {
  width: 408px;
}

.home .homeContent .homeContentTop .balanceTable {
  width: 100%;
}

.home .homeContent .homeContentTop .balanceTable td {
  padding-top: 13px;
  padding-bottom: 13px;
}

.home .homeContent .homeContentTop .balanceTable .amount {
  text-align: right;
}

.home .homeContent .historyTable {
  width: 100%;
}

.home .homeContent .historyTable .cell1 {
  width: 250px;
}

.home .homeContent .historyTable td {
  padding-top: 13px;
  padding-bottom: 13px;
}

.home .homeContent .historyTable .amount {
  text-align: right;
}

.people .bodyHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.people .addEmployees {
  cursor: pointer;
}

.people hr {
  margin: 0px;
  border-style: none;
  border-top-style: solid;
  border-color: #e0e0e0;
}

.people table {
  width: 100%;
}

.people table td {
  padding: 10px;
}

.people .invite {
  background-color: white;
  height: 80vh;
}

.people .invite .buttonContainer {
  padding-top: 40px;
}

.people .invite .inviteBody {
  padding: 20px;
}

.people .invite .inviteHeader {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.people .invite .inviteHeader img {
  padding: 0px;
  cursor: pointer;
}

.people .invite .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.people .body hr {
  margin-right: 48px;
}

.people .body table {
  width: 1000px;
  margin-top: 24px;
  margin-right: 48px;
  box-shadow: -1px 2px 5px 0px rgba(158, 158, 158, 0.14);
  -webkit-box-shadow: -1px 2px 5px 0px rgba(158, 158, 158, 0.14);
  -moz-box-shadow: -1px 2px 5px 0px rgba(158, 158, 158, 0.14);
}

.people .personDetails {
  background-color: white;
  width: 40vw;
  max-height: 90vh;
  overflow-y: scroll;
}

.people .personDetails .personDetailsHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.people .personDetails .personDetailsHeader div img {
  margin-right: 20px;
}

.people .personDetails .personDetailsUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.people .personDetails .personDetailsUser img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.people .personDetails .personDetailsUser p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.people .personDetails .personalDetailsForm {
  padding-left: 20px;
  padding-right: 20px;
}

.people .personDetails .personalDetailsForm label {
  font-size: 10px !important;
}

.people .personDetails .personalDetailsBank {
  padding: 20px;
}

.people .personDetails .personalDetailsBank .personalDetailsBankDetails {
  border-style: none;
  border-style: solid;
  border-radius: 6px;
  border-width: 1px;
  border-color: #e7e7e7;
}

.people .personDetails .personalDetailsBank .personalDetailsBankDetails .bankHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.people .personDetails .personalDetailsBank .personalDetailsBankDetails .bank {
  border-style: none;
  border-style: solid;
  border-radius: 6px;
  border-width: 1px;
  border-color: #e7e7e7;
  margin: 15px;
}

.people .personDetails .personalDetailsBank .personalDetailsBankDetails .bank .bankHeader {
  padding: 15px;
  display: block;
}

.people .personDetails .personalDetailsBank .personalDetailsBankDetails .bank .bankHeader div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.people .personDetails .personalDetailsBank .personalDetailsBankDetails .bank .bankBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f9fafb;
}

.people .personDetails .personalDetailsBank .personalDetailsBankDetails .bank .bankBody div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px;
}

.people .personDetails .deleteText {
  padding: 20px;
  margin-top: 30px;
  color: #eb5757;
  cursor: pointer;
  display: inline;
}

.people .personDetails .deleteText:hover {
  color: #a03939;
}

.people .deleteEmployee {
  background-color: white;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 30vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
}

.people .deleteEmployee .deleteHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px;
}

.people .deleteEmployee .deleteHeader img {
  width: 10px;
  cursor: pointer;
}

.people .deleteEmployee img {
  width: 40px;
  height: 40px;
}

.people .deleteEmployee p {
  text-align: center;
}

.people .deleteEmployee button {
  width: 40%;
}

.profile .accordion {
  width: 1000px;
}

.profile .accordion header {
  padding-left: 24.53px;
  padding-right: 26px;
  padding-top: 23.6px;
  padding-bottom: 23.6px;
}

.profile .accordion header label {
  font-size: 14px;
  color: #3b4664 !important;
  margin-left: 15px;
}

.profile .accordion label {
  color: rgba(136, 120, 128, 0.8) !important;
  font-size: 10px;
}

.profile .addBankForm .top .formInput {
  margin: 0px;
}

.profile .addBankForm .dropDown .dropDownContainer {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 42px;
  padding-right: 23px;
  padding-left: 20px;
}

.profile .addBankForm button {
  padding-left: 16px;
  padding-right: 16px;
}

.profile .borderedArea {
  width: 40vw;
  background-color: white;
  padding: 0px;
}

.profile .borderedArea hr {
  border-style: none;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #e0e0e0;
}

.profile .borderedArea header {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile .borderedArea header p {
  margin-left: auto;
  margin-right: auto;
}

.profile .borderedArea header img {
  cursor: pointer;
}

.profile .borderedArea .top .formInput {
  width: 48%;
}

.profile .borderedArea .formInput {
  width: 100%;
}

.profile .borderedArea .dropDown {
  width: 48%;
  height: 100%;
}

.profile .borderedArea .dropDown p {
  padding: 8px;
}

.profile .borderedArea hr {
  margin: 0px;
}

.profile .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile .user .placeholder {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: blueviolet;
}

.profile form .formInput {
  width: 43%;
  margin-right: 20px;
}

.profile .security .formInput {
  width: 430px;
}

.profile .security .formInput span {
  font-size: 14px;
  color: #2f80ed !important;
}

.profile .bankDetails .formInput {
  width: 43%;
  margin-right: 20px;
}

.profile .bankDetails .numberInput {
  width: 43%;
}

.headerItem div {
  width: 70%;
  height: 2px;
  margin-top: 10px;
}

.headerItem .inactiveP {
  color: rgba(136, 120, 128, 0.6);
}

.headerItem .inactiveDiv {
  background-color: rgba(136, 120, 128, 0.6);
}

.headerItem .activeP {
  color: #8FD5BD;
}

.headerItem .activeDiv {
  background-color: #8FD5BD;
}

.personItem {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.personItem .personNameAndType {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personItem .imagePlaceholder {
  width: 32px;
  height: 32px;
  border-radius: 15px;
  background-color: #8FD5BD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.policyItem {
  padding: 20px;
  border-style: none;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 4px 0px rgba(191, 191, 191, 0.5);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(191, 191, 191, 0.5);
  -moz-box-shadow: 0px 1px 4px 0px rgba(191, 191, 191, 0.5);
  margin-bottom: 16px;
}

.policyItem header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.policyItem header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.policyItem header .edit {
  color: #828282;
  margin-right: 16px;
  cursor: pointer;
}

.policyItem header .delete {
  color: #eb5757;
  cursor: pointer;
}

.policyItem .optionsIcon {
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  background-color: #ececec;
}

.policyItem .displayFlex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.policyItem span {
  margin-left: 16.5px;
  color: #eb5757;
}

.personItem:hover {
  background-color: #f0f0f0;
}

.settings .settingsContent {
  width: 1018px;
}

.settings .settingsContent .formInputContainer {
  background-color: rgba(224, 224, 224, 0.4);
}

.settings .settingsContent .formInputContainer input {
  background-color: rgba(224, 224, 224, 0.2);
  font-size: 14px;
  color: #3b4664;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 0px;
  padding: 0px;
}

.settings .settingsContent .accordion {
  width: 1000px;
  margin-bottom: 16px;
}

.settings .settingsContent .accordion label {
  font-size: 14px;
  color: #3b4664;
}

.settings .settingsContent .accordion .formInput label {
  font-size: 10px;
  color: #887880;
}

.settings .settingsContent .address {
  margin-left: 24px;
}

.settings .settingsContent .address .operatingAddress .formInput {
  width: 889px;
}

.settings .settingsContent .address .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  margin-top: 26px;
}

.settings .settingsContent .address .location .formInput {
  width: 150px;
  margin-right: 30px;
}

.settings .settingsContent .nameCategory {
  margin-left: 24px;
}

.settings .settingsContent .nameCategory .formInput {
  width: 430px;
  margin-right: 30px;
}

.settings .settingsContent .siteDescription {
  padding-left: 24px;
  padding-bottom: 20px;
}

.settings .settingsContent .siteDescription .formInput {
  width: 891px;
}

.settings .settingsContent .topNav .active p {
  color: #8fd5bd;
}

.settings .settingsContent .topNav .active .indicator {
  width: 60%;
}

.settings .settingsContent .topNav .passive p {
  color: #887880;
}

.settings .settingsContent .topNav .passive .indicator {
  width: 0%;
}

.settings .settingsContent .topNav .topNavItem .indicator {
  height: 2px;
  background-color: #8fd5bd;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.settings .settingsContent .topNav .topNavItem:hover p {
  color: #8fd5bd;
}

.settings .settingsContent .topNav .topNavItem:hover .indicator {
  width: 60%;
}

.settings .settingsContent .topDivider {
  margin-top: 0px;
  border-style: none;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #e0e0e0;
  margin-bottom: 24px;
}

.settings .selectedApproverItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

.settings .selectedApproverItem div {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: #8FD5BD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: white;
  margin-right: 12px;
  margin-left: 40px;
}

.settings .selectedApproverItem .close {
  margin-left: auto;
  margin-right: 24px;
  cursor: pointer;
}

.settings .approverItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settings .approverItem .number {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settings .approverItem .dropDown {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.settings .newRuleModal {
  width: 550px;
  max-height: 90vh;
  overflow-y: scroll;
  background-color: white;
}

.settings .newRuleModal button {
  height: 40px;
  width: 79px;
  font-size: 13px;
}

.settings .newRuleModal .close {
  cursor: pointer;
}

.settings .newRuleModal hr {
  margin: 0px;
  border-style: none;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #f2f2f2;
}

.settings .newRuleModal header {
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.settings .policy {
  width: 1000px;
}

.settings .policy hr {
  margin: 0px;
  border-style: none;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #e0e0e0;
}

.settings .policy .tabs {
  margin-top: 24px;
}

.settings .policy .tabs button {
  width: 90px;
  font-size: 13px;
}

.settings .policy .tabs .tabItem div {
  height: 2px;
  background-color: #1c2230;
  margin-top: 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.settings .policy .tabs .tabItem:hover div {
  width: 100%;
}

.settings .policy .tabs .active p {
  color: #1c2230;
  font-weight: 500;
}

.settings .policy .tabs .active div {
  width: 100%;
}

.settings .policy .tabs .passive p {
  color: #828282;
}

.settings .policy .tabs .passive div {
  width: 0px;
}

.settings .mileage {
  width: 500px;
}

.settings .mileage hr {
  margin-top: 24px;
  margin-bottom: 24px;
  border-style: none;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #f1f1f1;
}

.settings .mileage .formInput {
  margin-bottom: 48px;
}

.settings .mileage .formInput .formInputContainer {
  background-color: white;
}

.settings .mileage .formInput .formInputContainer input {
  background-color: white;
}
/*# sourceMappingURL=styles.css.map */