div {
    box-sizing: border-box;
    label {
        margin: 0px;
        position: relative;
        top: 10px;
        left: 20px;
        background-color: white;
        padding-left: 5px;
        padding-right: 5px;
        color: rgba(59, 70, 100, 1);
        font-size: 12px;
    }

    .formInputContainer {
        border-style: none;
        border-style: solid;
        border-width: 1px;
        border-radius: 6px;
        border-color: rgba(0, 29, 74, 0.2);
        display: flex;
        align-items: center;
        overflow: hidden;

        input {
            padding: 15px;
            flex-grow: 1;
            border-style: none;
            border-radius: 6px;
        }

        span {
            margin-left: 20px;
            margin-right: 20px;
            font-size: 10px;
            cursor: pointer;
        }
    }
}