$brand : #8FD5BD;
$primaryDark : rgba(0, 29, 74, 1);
$greyText1 : rgba(161, 163, 166, 1);
$charcoal : rgba(0, 29, 74, 0.7);
$oxfordBlue : rgba(59, 70, 100, 1);
$secondary : rgba(136, 120, 128, 0.6);
$state: rgba(161, 163, 166, 0.2);
$gray5: rgba(224, 224, 224, 1);
$borderColor : rgba(199, 199, 199, 0.2);

