.dropDown {
    position: relative;
    box-sizing: border-box;
    height: 42px;

    .imageListItem {
      display: flex;
      align-items: center;
      padding-left: 30px !important;
      padding-right: 30px !important;
      padding-top: 15px!important;
      padding-bottom: 15px !important;

      .icon {
        width: 24px;
        height: 24px;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(143, 213, 189, 1);
        margin-right: 16px;

        p {
          font-size: 10px;
          color: white;
        }
      }
    }

    .imageListItem:hover {
      background-color: rgb(235, 235, 235);
    }

    label {
      margin: 0px;
      position: relative;
      top: 10px;
      left: 20px;
      background-color: white;
      padding-left: 5px;
      padding-right: 5px;
      color: rgba(59, 70, 100, 1);
      font-size: 12px;
    }

    .listContainer {
        position: relative;
        box-sizing: border-box;

        ul {
        margin: 0px;
        position: absolute;
        max-height: 200px;
        overflow-y: scroll;
        top: 0;
        z-index: 100;
        background-color: white;
        min-width: 100%;
        box-sizing: border-box;
        list-style-type: none;
        padding: 0px;
        box-shadow: 0px 2px 8px -1px rgba(87,87,87,0.75);
-webkit-box-shadow: 0px 2px 8px -1px rgba(87,87,87,0.75);
-moz-box-shadow: 0px 2px 8px -1px rgba(87,87,87,0.75);

        li {
            padding: 10px;
            cursor: pointer;
        }

        li:hover {
            // background-color: rgb(236, 236, 236);
            color: rgba(0, 188, 212, 1);
;
        }
    }
    }

    .dropDownContainer {
      border-style: none;
      border-style: solid;
      border-width: 1px;
      border-radius: 6px;
      border-color: rgba(180, 180, 180, 0.3);
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      height: 43px;
      padding-left: 16px;
      padding-right: 16px;

      p {
          margin: 0px;
      }

      img {
        width: 8px;
        height: 8px;
      }

      span {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 10px;
        cursor: pointer;
      }
    }

}

.disabled {
  .dropDownContainer{
    background-color: rgb(235, 235, 235);;
  }
  
}

.enabled {
  .dropDownContainer {
    background-color: white;
}
  }
